@mixin flex-setting(){
  display: flex;
}
@mixin bat-rotate(){
  transform: rotate(75deg);
  transition: 1s;
}

* {
  margin: 0;
  padding: 0;
}
#root {
  width: 100vw;
  height: 100vh;
  @include flex-setting;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
  }

    #container {
      width: 80vw;
      height: 60vh;
      background-color: whitesmoke;
      border: 1px solid #000;
      flex-direction: column;
      @include flex-setting;
      justify-content: center;
      align-items: center;

      #Bat {
        width: 25vw;
        height: 35vh;
        transform: scaleX(-1);
        @include bat-rotate;
        
      }
      #HIT {
        justify-items: center;
        width: 30vw;
        height: 5vh;
        background-color:rgb(159, 240, 213);
      }
    }
}