@mixin flex-setting(){
  display: flex;
  position: relative;
}
@mixin bat-ready{
  transform: scaleX(-1);
  transform: rotate(300%);
  transition: 2s;

}
@mixin bat-hit{
}
@mixin slidein(){
  animation-duration: 3s;
  animation-name: slidein;
  @keyframes slidein {
    from{
      right: 0vw;
    }
    to {
      right: 50vw;
    }
  } 
}

* {
  margin: 0;
  padding: 0;
}
#alert {
  position: absolute;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  @include flex-setting;
  position: absolute;
  z-index: 3;
  @include slidein;
}
#root {
  width: 100vw;
  height: 100vh;
  @include flex-setting;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
    
    #pitchingMachine{
    border:1px solid #000;
    width: 10vw;
    height: 10vw;
    @include flex-setting;
  }
    
    #container {
      width: 20vw;
      height: 60vh;
      background-color: whitesmoke;
      border: 1px solid #000;
      flex-direction: column;
      @include flex-setting;
      justify-content: center;
      align-items: center;
      
      #Bat {
        width: 25vw;
        height: 40vh;
        @include bat-ready;
      }
      #Bat-hit {
        @include bat-hit;
      }
      #HIT {
        justify-items: center;
        width: 10vw;
        height: 5vh;
        background-color:rgb(159, 240, 213);
      }
    }
}