@mixin flex-setting(){
  display: flex;
}
@mixin bat-rotate(){
  transform: rotate(75deg);
  transition: 2s;
}
@mixin slidein(){
  @keyframes slidein {
    from{
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  } 
}

* {
  margin: 0;
  padding: 0;
}
#alert {
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
  @include slidein;
}
#root {
  width: 100vw;
  height: 100vh;
  @include flex-setting;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
    #pitchingMachine{
    border:1px solid #000;
    width: 10vw;
    height: 10vw;
    @include flex-setting;
  }
    
    #container {
      width: 20vw;
      height: 60vh;
      background-color: whitesmoke;
      border: 1px solid #000;
      flex-direction: column;
      @include flex-setting;
      justify-content: center;
      align-items: center;

      #Bat {
        width: 25vw;
        height: 40vh;
        transform: scaleX(-1);
        @include bat-rotate;
        
      }
      #HIT {
        justify-items: center;
        width: 10vw;
        height: 5vh;
        background-color:rgb(159, 240, 213);
      }
    }
}