@mixin set-color($color, $bg-color){
  color: $color;
  background-color: $bg-color;
}
@mixin set-border{
  border: 1px solid #000;
}
@mixin set-flex{
  display: flex;
}
* {
  margin: 0;
  padding: 0;
}
// root 영역
#root {
  width: 100vw;
  height: 100vh;
  @include set-color(#000,#f0f0f0);
  @include set-flex;
  justify-content: center;
  align-items: center;
  // container 영역
  #container{
    width: 70vw;
    height: 10vh;
    @include set-border;
    @include set-flex;
    flex-direction: column;

    div {
      @include set-flex;
    }

      // Header 영역
      div:nth-child(1) {
      @include set-border;
      @include set-flex;
      @include set-color(#000, #999);
      flex-direction: row;
      width: 70vw;
      height: 2vh;
        // 에러 제목 텍스트 영역
        div:nth-child(1) {}
        // 닫기 버튼 영역
        div:nth-child(2) {}
    }
      // Footer 영역
      div:nth-child(2) {
      @include set-border;
      @include set-flex;
      flex-direction: row;
      width: 70vw;
      height: 8vh;
        // 경고 이미지 영역
        div:nth-child(1) {}
        // 에러 메시지 영역
        div:nth-child(2) {}
    }
  }
}



